html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  border: 0;
  font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}

header {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

header h1 {
  margin: 50px 0 0 0;
  text-align: center;
}

header ul {
  list-style-type: none;
  margin: 0;
}

table {
  margin-top: 30px;
  width: 980px;
  border-collapse: collapse;
}

table tr th {
  background: #0B61A5;
  color: #FFF;
  text-align: left;
}

table tr td, table tr th {
  border: 1px solid #000;
  padding: 3px;
}

dl {
  clear: both;
  height: 1em;
  margin-bottom: 1em;
}

dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
}

dl dd {
  float: left;
}
